.banner  {
    width: 100%;
    height: 30vh;
    border: 1px solid rgb(114, 112, 112);
    background:url(../Img/bannerimage.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    display: flex;
    position: relative;
    padding-left: 45%;
    top: 20px;
    height: 25vh;
  }

  .navbarheader ul {
    list-style: none;
    background: rgb(99, 96, 96);
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
  }

  .navbarheader li {
   display: inline-block;
  }

  .navbarheader a {
    text-decoration:none;
    width: 100%;
    color: white;
    display: block;
    padding: 25px;
    padding-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }

  .navbarheader a:hover {
    color: rgb(8, 8, 8);
    transition: all .5s linear;
  }

 .cardwrapper {
   width: 100%;
   margin: auto;
   margin-top: 100px;
   display: flex;
   justify-content: center;
   padding-bottom: 160px;
 }

 .p {
  font-family: 'Teko', sans-serif;
  color: white;
 }

 .cards {
   width: 300px;
   text-align: center;
   font-size: 20px;
   font-family: 'Teko', sans-serif;
   float: left;
   margin: 10px;
   background: rgb(56, 55, 55);
   color: white;
 }

 .cardstext {
   text-decoration: none;
   color: white;
   width: 100%;
   padding-top: 2px;
   padding-bottom: 25px;
   font-family: 'Teko', sans-serif;
 }

 .headercontainer {
   display: flex;
   justify-content: center;
   font-family: 'Teko', sans-serif;
   color: white;
   padding-top: 150px;
 }

 .h1 {
   display: flex;
   align-items: center;
   font-size: larger;
 }

 .button {
   background-color: rgb(12, 12, 243);
   color: white;
   font-size: 15px;
   text-align: center;
   padding: 10px;
   width: 125px;
   border: 4px solid #0632f3;
   border-radius: 12px;
   cursor: pointer;
   font-size: 20px;
  }

 .buttonbox {
    text-decoration: none;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 25px;
    font-family: 'Teko', sans-serif;
  }
 
  .phonebrandwrapper {
    width: 100%;
    border: solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.phonebrands {
    width: 80%;
    border: solid blue;
    background-color:white;
}

.phonebrandboxes {
    width: 15%;
    padding: 20px;
}

.webinformation {
  margin: 40px auto;
  padding: 14px;
  border-radius: 10px;
  border-width: 10px;
  background: white;
  max-width: 450px;
  font-family: 'Teko', sans-serif;
  font-size: large;
  font-size: 30px;
}

.button2 {
  background-color: rgb(23, 8, 240);
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  width: 100px;
  border: 4px solid #0632f3;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
 }

.buttonbox2 {
   text-decoration: none;
   width: 100%;
   padding-top: 2px;
   padding-bottom: 25px;
   padding-right: 75px;
   font-family: 'Teko', sans-serif;
   display: flex;
   justify-content: flex-end;
 }

 .HelpNav ul {
  list-style: none;
  background: rgb(7, 6, 6);
  padding: 0%;
  padding-top: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HelpNav a {
  text-decoration: none;
  color: white;
  width: 50%;
  display: block;
  padding: 0px;
  padding-left: 50px;
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
}

.button3 {
  background-color: rgb(23, 8, 240);
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  width: 150px;
  border: 4px solid #0632f3;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
 }

 .cardwrapper2 {
  width: 100%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 35px;
}

.cards2 {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: 'Teko', sans-serif;
  float: left;
  margin: 10px;
  background: rgb(56, 55, 55);
  color: white;
}

.cardstext2 {
  text-decoration: none;
  color: white;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 25px;
  font-family: 'Teko', sans-serif;
}

.footer {
  width: 100%;
  height: 100%;
  border: solid rgb(99, 96, 96) 5px;
  background-color: rgb(99, 96, 96);
}


.footerbox {
  position: relative;
  left: 30%;
  align-items: center;
  width: 10%;
  height: 100%;
  font-size: 40px;
  font-family: 'Teko', sans-serif;
}

.cards2 {
  width: 500px;
  text-align: center;
  font-size: 20px;
  font-family: 'Teko', sans-serif;
  float: left;
  margin: 10px;
  background: rgb(56, 55, 55);
  color: white;
}

.cards2text {
  text-decoration: none;
  color: white;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 25px;
  font-family: 'Teko', sans-serif;
}

.carouselbox {
  width: 50%;
  height: 70vh;
  border: solid grey;
  position: relative;
  left: 25%;
  top: 75px;
}

.videobox {
  width: 60%;
  height: 50vh;
  border: solid grey;
  position: relative;
  left: 20%;
  bottom: 45px;
}





